* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}
/* HEADER STYLING */
.head-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.title {
    color: #f9faf8;
    font-size: 24px;
}

.links a {
    font-size: 18px;
    color:#f9faf8;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.home { 
    margin-left: auto;
}

/*FIRST SECTION*/
.section-one {
    background-color: #1f2937;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-shrink: 1;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1;
    padding: 20px;
    max-width: 500px;
}

.upper-text {
    font-size: 48px;
    font-weight: 800;
}

.lower-text {
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.placeholder {
    width: 500px;
    height: 200px;
    background-color: #5a5c5e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* INFO CONTAINER*/

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 800px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.images {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.img-grp{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    flex-wrap: wrap;
}
.img {
    border: 2px solid #1f2937;
    width: 100px; 
    height: 100px;
    border-radius: 10px;
}

.pic-text {
    display:flex;
    flex-wrap: wrap;
}

.images img {
    width: 100%;
    height: auto;
}

.book-one {
    flex: 1.33;
}

.book-two {
    flex: 1.33;
}

.book-three {
    flex: 1.33;
}

.book-four {
    flex: 1.33;
}

/*QUOTE BLOCK*/

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

